@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #e5e4e2;
  color: rgb(47, 48, 48);
  text-align: center;
  margin-top: 100px;
}
#splash {
  width: 50%;
  padding: 2em;
  margin: 0 auto;
}

#view {
  padding: 2em;
  width: 80%;
  margin: 0 auto;
}
nav {
  background-color: #0093af;
}
nav img {
  width: 80px;
  height: 60px;
  border-radius: 10px;
}

#filterButtonContainer button {
  padding: 3px 20px;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;
}

#form-container {
  width: 60%;
  margin: 1.5em auto;
  justify-content: center;
}
#welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.move-down {
  align-self: flex-end;
}
.card-text-color {
  color: #98817b;
}
.custom-subtitle-color {
  color: #0093af;
}
button {
  color: #fff;
  background-color: #98817b;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}
button:active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}
